<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--style css link추가 <link rel="stylesheet" type="text/css" href="http://localhost/css/style.css?ver=1"> -->
        </head>
    <!--id = "body"로 설정 후 아래 버튼에서 사용함-->
    <body id = "body">
        <header>
            <h1><a href="">For your brilliant plan.</a></h1>
        </header>
        <nav>
            <ol>
                <li><a href="loginPage">login</a></li><!--이동할 페이지(파일을 만들어 놓는다.). href spelling주의. http:// 반드시 적을것.-->
                <li><a href="">plan</a></li>
                <li><a href="">other</a></li>
            </ol>
        </nav>

        ID<input type="text" name="userId"></input> 
        PW<input type="text" name="userPassword"></input> 
        <a href="signUpPage">회원가입</a>
         
        <article>
            <h2>Our site</h2>
            There is the site which hope for your brilliant paln.
        </article>
    </body>
</html>
