<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            #planDivision {
                border: black 1px solid;
                padding: 15px;
                margin: 70px;
            }  
            header h1{  
                margin: 60px;
            } 
        </style>
    </head>
    <body id = "body">
        <header>
            <h1><a href="/">For your brilliant plan.</a></h1>
        </header>

    <script language="javascript" type="text/javascript">

    function popitup(url) {
        newwindow=window.open(url,'{{title}}','height=700,width=450');
        if (window.focus) {newwindow.focus()}
        return false;
    }
    
    </script>

       <nav>
             <a href="" onclick="return popitup('todoPopUp.html')" id="planDivision">todo</a> <a href="" id="planDivision">doing</a> <a href="" id="planDivision">done</a>
       </nav>


    </body>
</html>
