
{% extends "logged_in_page_base.html" %}

{% block content %}

   <h1>Todo</h1>
    <h1>Our site-profile page</h1>
    <p>There is the site which hope for your brilliant paln.</p>
    <form class="" action="sendTodoSubmit" method="post">
            <div>projectName</div> 
            <input type="text" name="projectName" id = text></input> 
            
            <div>startDate</div> 
            <input type="datetime-local" name="startDate" id = text></input> 
            
            <div>endDate</div> 
            <input type="datetime-local" name="endDate"  id = text></input> 
            
            <div>contents</div>
            <textarea name="contents" id = textField> </textarea>
            {% csrf_token %}
            <button type = "" name="submit" id = button>submit</button>
        </form>
    
{% endblock content %}