<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style> 
            #textField{  
                padding: 15px;
                margin: 10px;
                height:420px;
                width:200px;
            } 
             #text{  
                padding: 15px;
                margin: 10px; 
                width:200px;
                height:5px;
            } 
            #button{  
                padding: 5px;
                margin: 0px; 
               transform: translate(190px, 0px);
                
            }
        </style>
    </head>
    <body id = "body">
        <header>
            <h1>Todo</h1>
        </header>

        <form class="" action="sendTodoSubmit" method="post">
            <div>projectName</div> 
            <input type="text" name="projectName" id = text></input> 
            
            <div>startDate</div> 
            <input type="datetime-local" name="startDate" id = text></input> 
            
            <div>endDate</div> 
            <input type="datetime-local" name="endDate"  id = text></input> 
            
            <div>contents</div>
            <textarea name="contents" id = textField> </textarea>
            {% csrf_token %}
            <button type = "submit" name="submit" id = button>submit</button>
        </form>
    
    </body>
</html>
