
{% extends "logged_in_page_base.html" %}

{% block content %}

    <h1>Add Plan</h1> 
    <form class="" action="sendTodoSubmit" method="post">
            {% if todos %}
            <div>plan title</div> 
            {% endif %}
            <div>plan title</div> 
            <input type="text" class="form-control" name="projectName" id = text></input> 
            
            <div>startDate</div> 
            <input type="datetime-local" class="form-control" name="startDate" id = text></input> 
            
            <div>endDate</div> 
            <input type="datetime-local" class="form-control" name="endDate"  id = text></input> 
            
            <div>contents</div>
            <textarea name="contents" class="form-control" rows="10" id = textField> </textarea>
            {% csrf_token %}
            <button type = "" class="btn btn-info" name="submit" id = button>submit</button>
        </form>
    
{% endblock content %}