{% extends "logged_in_page_base.html" %}

{% load staticfiles %}
{% block content %}

    <h1>Backlog</h1> <p><a href="/todoPopUp" class="btn btn-info" id="planDivision">Create Todo</a> <a href="{% static 'document/excel_output.xls' %}" download = "" class="btn btn-info" id="planDivision">Excel output</a> </p>
   {% if todos %}
        <table class="table table-bordered" id = "todoTable">
        <thead>
        <tr>
            <td><B>Plan title</B></td>
            <td><B>contents</B></td>
            <td><B>start</B></td>
            <td><B>end</B></td>
            <td><B>status</B></td>
        </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
        <tr>
            <td> {{todo.todoName}}</td>
            <td> {{todo.todoContents}} </td>
            <td> {{todo.startDate}} </td>
            <td> {{todo.endDate}} </td>
            <td> {{todo.get_status}} </td>
        </tr>
          {% endfor %}
        </tbody>

    </table>
   {% endif %}
   
{% endblock content %}
