{% extends "logged_in_page_base.html" %}

{% block content %}

    <h1>Timeline</h1>
    
        <table class="type10">
        <thead>
          <th scope="cols">변경사항</th>
          <th scope="cols">수정일</th>
        </thead>
        <tbody>
        {% if todos %}
        {% for todo in todos %}

        
        <tr>
          <th scope="row" class="even">백로그에서 {{todo.todoName}}이 생성 되었습니다!!</th>
          <td class="even">{{todo.updated_at}}</td>
        </tr>
        
        {% endfor %}

        {% for brain in brains %}

        
        <tr>
          <th scope="row" class="even">브래인스토밍에서 {{brain.project_name}}이 생성 되었습니다!!</th>
          <td class="even">{{brain.updated_at}}</td>
        </tr>
        
        {% endfor %}

        {% for issue in issues %}
        
        <tr>
          <th scope="row" class="even">이슈에서 {{issue.issue_name}}이 생성 되었습니다!!</th>
          <td class="even">{{issue.issue_create}}</td>
        </tr>
        
        {% endfor %}
        
        
        </tbody>
    </table>
   {% endif %}
    
{% endblock content %}